{# ----------------- CAROUSEL IMAGES ----------------- #}
<div class="relative w-full px-4 md:px-8 lg:px-8 overflow-hidden">
	<div
		id="image-wrapper" class="flex gap-4 overflow-x-auto scroll-smooth snap-x snap-mandatory">

		{# Images existantes #}
		{% for imageForm in form.images %}
			{% set imagePath = imageForm.vars.data.tempFilename
            ? asset('uploads/images_tmp/' ~ imageForm.vars.data.tempFilename)
            : (imageForm.vars.data.picture ? asset('uploads/images/' ~ imageForm.vars.data.picture) : null)
        %}
			<div class="media-item media-image flex-shrink-0 w-40 snap-start relative ">
				{% if imageForm.vars.data and imageForm.vars.data.picture %}
					<div class="mb-3 w-full aspect-video rounded overflow-hidden border">
						<img src="{{ imagePath }}" class="w-full h-full object-cover" data-filename="{{ imageForm.vars.data.tempFilename ?: imageForm.vars.data.picture }}">
					</div>
				{% else %}
					<div class="image-placeholder bg-gray-100 w-full aspect-video flex items-center justify-center rounded border mb-3">
						<i class="bi bi-image text-2xl text-gray-400"></i>
					</div>
				{% endif %}
				<input type="hidden" class="removed-image" name="removed_images[]">


				<div class="media-actions flex justify-end gap-2 mt-2">

					<div class="flex flex-row-reverse items-center gap-2">
						<button type="button" class="remove-item p-2 rounded  border-[#f8285a] bg-[#f8285a]  text-white hover:bg-[#d81a48]">
							<i class="bi bi-trash "></i>
						</button>


						<button type="button" class="item-add p-2 rounded  bg-[#1b84ff] hover:bg-[#056ee9] text-white transition hidden">
							<i class="bi bi-pencil"></i>
						</button>
						<button type="button" class="item-edit p-2 rounded  bg-[#1b84ff] hover:bg-[#056ee9] text-white transition hidden">
							<i class="bi bi-pencil"></i>
						</button>
						<button type="button" class="item-close p-2 rounded  bg-[#f6c000]  hover:bg-[#dead00] text-white  transition hidden">
							<i class="bi bi-eye-slash"></i>
						</button>

						{{ form_widget(imageForm.file, {
    attr: {
        class: 'item-input h-10 w-0 opacity-0 transition-all duration-300 border rounded px-3 text-sm file:h-full file:border-0 file:bg-transparent',
        accept: 'image/png,image/jpeg,image/webp'
    }
}) }}


					</div>


				</div>


				<div class="text-red-500 text-sm">
					{{ form_errors(imageForm.file) }}
				</div>

			</div>
		{% endfor %}

	</div>

	{# Bouton ajout d'image #}
	<div class="flex justify-center gap-4 mt-4 mb-4">
		<button type="button" id="add-image" class="w-full px-4 py-2 bg-[#e9f3ff] text-[#1b84ff] rounded hover:text-white hover:bg-[#056ee9]">
			<i class="bi bi-plus-square-fill"></i>
			Ajouter une image
		</button>
	</div>
</div>


{# templates/profile/tricks/_media_carousel_temp.html.twig #}
<div
	id="image-wrapper" class="flex gap-4 overflow-x-auto snap-x snap-mandatory">

	{# Images existantes ou temporaires #}
	{% for imageForm in form.images %}
		{% set imagePath = imageForm.vars.data.tempFilename
            ? asset('uploads/images_tmp/' ~ imageForm.vars.data.tempFilename)
            : (imageForm.vars.data.picture ? asset('uploads/images/' ~ imageForm.vars.data.picture) : null)
        %}

		<div class="media-item media-image flex-shrink-0 w-40 snap-start relative">
			{% if imagePath %}
				<div class="mb-3 w-full aspect-video rounded overflow-hidden border relative">
					<img src="{{ imagePath }}" class="w-full h-full object-cover" data-filename="{{ imageForm.vars.data.tempFilename ?: imageForm.vars.data.picture }}">
				</div>
			{% else %}
				<div class="image-placeholder bg-gray-100 w-full aspect-video flex items-center justify-center rounded border mb-3">
					<i class="bi bi-image text-2xl text-gray-400"></i>
				</div>
			{% endif %}

			{# Hidden inputs pour backend #}
			<input type="hidden" name="tempImages[]" class="temp-image" value="{{ imageForm.vars.data.tempFilename }}">
			<input type="hidden" name="removed_images[]" class="removed-image" value="">

			<div class="media-actions flex justify-end gap-2 mt-2">
				<button type="button" class="remove-item p-2 rounded border-[#f8285a] bg-[#f8285a] text-white hover:bg-[#d81a48]">
					<i class="bi bi-trash"></i>
				</button>

				<button type="button" class="item-add p-2 rounded border border-[#1b84ff] bg-white hover:bg-[#1b84ff] hover:text-white text-[#1b84ff] transition hidden">
					<i class="bi bi-pencil"></i>
				</button>
			</div>

			<div class="text-red-500 text-sm">
				{{ form_errors(imageForm.file) }}
			</div>
		</div>
	{% endfor %}
</div>

<div class="flex justify-center gap-4 mt-4 mb-4">
	<button type="button" id="add-image" class="w-full px-4 py-2 bg-[#e9f3ff] text-[#1b84ff] rounded hover:text-white hover:bg-[#056ee9]">
		<i class="bi bi-plus-square-fill"></i>
		Ajouter une image
	</button>
</div>

{# Prototype pour JS (clone pour nouveau fichier) #}
<div id="image-prototype" class="hidden" data-prototype="
		<div class='media-item media-image flex-shrink-0 w-40 snap-start relative'>
		    <div class='mb-3 w-full aspect-video rounded overflow-hidden border relative'>
		        <img class='image-preview hidden w-full h-full object-cover' />
		        <div class='image-placeholder absolute inset-0 bg-gray-100 flex items-center justify-center rounded border'>
		            <i class='bi bi-image text-2xl text-gray-400'></i>
		        </div>
		    </div>
		    <input type='hidden' name='tempImages[]' class='temp-image' value=''>
		    <input type='hidden' name='removed_images[]' class='removed-image' value=''>
		    <div class='media-actions flex justify-end gap-2 mt-2'>
		        <button type='button' class='remove-item p-2 rounded border-[#f8285a] bg-[#f8285a] text-white hover:bg-[#d81a48]'>
		            <i class='bi bi-trash'></i>
		        </button>
		    </div>
		</div>"></div>
