{% extends 'base.html.twig' %}

{% block title %}Profil de
	{{ app.user.username }}
{% endblock %}

{% block body %}

	<!-- Section Hero -->
	<section class="px-6 md:px-[93px] bg-[#D3DCEB] pt-[120px] pb-[42px]
																																																																											    bg-[url('{{ asset('assets/images/image-cover.jpg') }}')] bg-cover bg-center bg-no-repeat min-h-screen flex items-center">
		<div class="grid grid-cols-1 md:grid-cols-2 gap-6 w-full">
			<div class="flex items-center justify-center">
				<div class="bg-[#00214D]/50 backdrop-blur-sm p-6 md:p-10 rounded-xl max-w-xl">
					<div class="flex gap-4 py-4 border-b">
						{% if app.user.avatar %}
							<img src="{{ asset('uploads/avatars/' ~ app.user.avatar) }}" alt="Avatar de {{ app.user.username }}" class="w-20 h-20 rounded-full object-cover">
						{% else %}
							<div class="w-20 h-20 rounded-full bg-blue-600 flex items-center justify-center text-white font-bold" style="font-size:24px;">
								{{ app.user.username|first|upper }}
							</div>
						{% endif %}

						<div class="flex-1 p-4 ">

							<strong class="text-white md:text-lg">{{ app.user.username }}</strong>
							<p class="text-white">Membre de Snowtricks</p>


						</div>
					</div>
					<h1 class="text-white font-bold uppercase mb-4" style="font-size: clamp(26px, 5vw, 56px)">
						Bienvenue sur SnowTricks
					</h1>

					<p class="text-white text-base md:text-lg">
						Découvrez et partagez des figures de snowboard avec notre communauté passionnée.
					</p>
					<br>
					<a href="{{ path('app_profile_edit') }}" class="bg-blue-600 text-white px-6 py-3 rounded hover:bg-blue-800">
						Modifier votre profil
					</a>


				</div>
			</div>
		</div>
	</section>

	<!-- Section Tricks -->
	<section class="px-6 md:px-[93px] bg-[#D3DCEB] pt-[60px] pb-[42px]">
		<div id="tricks-container" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6">
			{% include '_partials/tricks.html.twig' with { tricks: tricks } %}
		</div>

		<div class="text-center mt-6">
			<button id="load-more" data-page="{{ page }}" class="bg-blue-600 text-white px-6 py-3 rounded hover:bg-blue-800 transition">
				Afficher plus
			</button>
		</div>
	</section>


{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/loadMore.js') }}"></script>

{% endblock %}
